<div class="panel panel-success">
    <div class="panel-heading">
        <a class="panel-title" ng-click="toggle()">{{panelName}} <span class="glyphicon glyphicon-list pull-right panel-list"></span></a>
    </div>
    <div collapse="isCollapsed" class="panel-collapse">
        <div class="panel-body">
            <ul class="nav nav-pills nav-stacked">
                <li ng-repeat="item in items">
                    <a ng-href="products?{{panelType}}={{item.name}}">{{item.name}}</a>
                </li>
            </ul>
        </div>
    </div>
</div>