body {
    padding-top: 50px
}

.page-header h1 {
    font-size: 4em
}

footer {
    margin: 5em 0
}

footer li {
    float: left;
    margin-right: 1.5em;
    margin-bottom: 1.5em
}

footer p {
    clear: left;
    margin-bottom: 0
}

.jumbotron {
    padding-top: 24px;
    padding-bottom: 3px;
}

.footer {
    margin-top: 1em;
    padding-top: 1em;
    background-color: #222;
    color: white;
    padding-bottom: 1em;
}

.thumbnail a img {
    min-height: 180px;
    height: 180px;
}

.panel-list {
    margin-top: 2px;
}
