<div class="container">

    <div class="row visible-md visible-lg" ng-controller="CarouselCtrl">
        <div class="col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2">
            <carousel interval="myInterval">
                <slide ng-repeat="slide in slides" active="slide.active">
                    <img ng-src="{{slide.image}}" src="">
                </slide>
            </carousel>
        </div>
    </div>
    <!-- /row -->

    <hr/>

    <div class="row">
        <div class="col-sm-4 col-md-3">
            <div class="panel-group">
                <div ng-controller="CategoryCtrl">
                    <product-panel></product-panel>
                </div>
                <hr/>
                <div ng-controller="RoomCtrl">
                    <product-panel></product-panel>
                </div>
                <hr/>
                <p class="text-center text-muted" ng-controller="AppVersionCtrl">{{appName}} © 2014</p>
            </div>
        </div>

        <div class="col-sm-8 col-md-9">
            <div class="row">
                <div ng-repeat="product in products" class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                    <product-thumbnail></product-thumbnail>
                </div>
            </div>
        </div>
    </div>
    <!-- /row -->

</div>
<!-- /container -->